alabaster==0.7.10
appdirs==1.4.3
asn1crypto==0.24.0
Babel==2.9.1
Beaker==1.8.1
beautifulsoup4==4.6.0
Brlapi==0.6.6
cairocffi==0.8.0
CairoSVG==2.0.3
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.7
cryptography==2.1.4
cssselect==1.0.1
cupshelpers==1.0
cycler==0.10.0
Cython==0.27.3
decorator==4.1.2
docutils==0.14
Flask==0.12.2
fpdf==1.7.2
greenlet==0.4.12
httplib2==0.10.3
idna==2.6
imagesize==0.7.1
ipython==6.2.1
ipython-genutils==0.1.0
isc==2.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
json-rpc==1.10.3
jsonrpc==1.2
lensfun==0.3.2
louis==3.4.0
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.1.1
msgpack-python==0.4.8
neovim==0.2.0
nose==1.3.7
notmuch==0.25.2
numpy==1.13.3
olefile==0.44
packaging==16.8
parso==0.1.1
passlib==1.7.1
path.py==10.4
pexpect==4.3.0
pickleshare==0.7.4
Pillow==4.3.0
pluggy==0.6.0
ply==3.10
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.0
pycairo==1.15.4
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0.1
Pygments==2.2.0
pygobject==3.26.1
pyOpenSSL==16.2.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.6.1
python-distutils-extra==2.39
python-sane==2.8.3
pytz==2017.3
pyxdg==0.25
pyzmq==16.0.3
ranger==1.8.1
requests==2.18.4
setuptools-scm==1.15.6
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1.dev20170522
SQLAlchemy==1.1.15
stevedore==1.28.0
svglue==0.3.0
team==1.0
tinycss==0.4
tox==2.9.1
traitlets==4.3.2
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
wcwidth==0.1.7
Werkzeug==0.12.2
Whoosh==2.7.4
ws4py==0.4.2
youtube-dl==2017.12.23
